// Fonts
$font-cursive: 'Grand Hotel';
$font-heading: 'Raleway';
$font-body: 'Lato', sans-serif;

// Colors (https://material.io/guidelines/style/color.html)
$black: #000000;
$cyan: #00BCD4;
$pink-800: #AD1457;
$deep-purple-600: #5E35B1;
